:root {
    --border: rgb(212, 212, 235);
    --hover: rgb(240, 240, 243);
    --font-size: 1.25rem;
    --font-size-small: 1rem;
    --late: #ff6600;
    --on-time: #009933;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    font-family: "Asap Condensed", sans-serif;
    font-size: var(--font-size);
}

body > * {
    width: 45rem;
    max-width: 100%;
}

button,
.button {
    background-color: transparent;
    border: 1px solid var(--border);
    border-radius: 1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: var(--font-size);
}

button:not(:first-child),
.button:not(:first-child) {
    margin-left: 1rem;
}

.icon-button {
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

button:hover,
.button:hover {
    background-color: var(--hover);
}

label {
    text-align: center;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: var(--font-size);
    box-sizing: border-box;
    border: 1px solid var(--border);
}

input:focus-visible {
    outline: 2px solid var(--border);
}

nav {
    display: flex;
    margin-bottom: 1rem;
}
